body {
	font-family: Pontano Sans;
	background-image: url("book-edit.png");
	background-repeat: no-repeat;
	background-size: 100%; 
	background-color: rgba(255,255,255,1);

	}

.Footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-size: .5em;
	text-align: center;
}
