body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: 100%;
	font-family: Pontano Sans;
}

.Footer {
	background:url('plant-alone.png');
	position: fixed; 
	bottom: 0px; 
	right: 0px;
}