body {
	height: 100%;
	width: 100%;
	position: absolute;
	background: url("plant-alone.png");
	background-size: 40%;
	background-repeat: no-repeat;
	background-color: #EBE7E4;
	background-position: right bottom;
	font-family: Pontano Sans;
}

.Footer {
	position:fixed;
	bottom: 0px;
	width: 100%;
	font-size: .5em;
	text-align: center;
}