.Dashboard-table {
	width: 40%;
	margin-left: 25%;
	padding-left: 25%;
	margin-top: 2%;
	padding-top: 2%;
	margin-bottom: 2%;
	padding-bottom: 2%;
}

.Dashboard-cardTitle {
	color: #707070;
	font-size: 30px;
	line-height: 64px;
	text-align: center;
}

.TutorDashboard-cardImg {
	height: 125px;
	width: 125px;
	margin-left: 40%;
}

.StudentDashboard-cardImg {
	height: 125px;
	width: 125px;
	margin-left: 30%;
}
