.Dashboard-table {
	width: 100%;
	text-align: center;
}

.Dashboard-cardTitle {
	color: #707070;
	font-size: 4vw;
	line-height: 64px;
	text-align: center;
}

.TutorDashboard-cardImg {
	height: auto;
	width: 100px;
	display: block;
    margin: 0 auto;
}

.StudentDashboard-cardImg {
	height: auto;
	width: 100px;
	display: block;
    margin: 0 auto;
}
