.Index-h1 {
	position: absolute;
	left: 5%;
	right: 45%;
	top: 22%;
	bottom: 30%;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	text-align: center;
}

.Index-button {
	border-color: #265231;
	color: #265231;
	position: relative;
	font-size: 2vw;
	left: 24%;
	margin-top: 28%;
}
