.Login-h1 {
	position: absolute;
	margin-left: 8%;
	top: 100px;
}

.Login-div {
	position: absolute;
	margin-left: 8%;
	top: 210px;
}

.Login-p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.Login-input {
	margin-right: 100px;
	margin-top:5px;
	padding-right: 100px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px grey;
}

.Login-a {
	color: #707070;
}

.Login-button1 {
	border-color: black;
	color: black;
	position: absolute;
	margin-left: 13%;
	top: 350px;
}

.Login-h4 {
	position: absolute;
	margin-left: 8%;
	top: 480px;
	color: black;
}

.Login-button2 {
	border-color: black;
	color: black;
	position: absolute;
	margin-left: 13%;
	top: 520px;
}

.radio-option {
	margin-left: 11%;
	margin-top: 90px;
	padding: 5%;
	margin-right:8px;
}
.radio-option1 {
	margin-left: 2%;
	margin-top: 90px;
	margin-right:8px;
}
