.RateModal-p {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 10px;
	padding-top: 10px;
}

.RateModal-p1 {
	margin-bottom: 0;
	padding-bottom: 0;
}

.ReplyModal-button {
	position: fixed;
	bottom: 50px;
	margin-left: 40%;
	width: 200px;
	height: 45px;
}
