.Register-student {
	position: absolute;
	margin-left: 30px;
}

.Register-tutor {
	position: absolute;
	margin-left: 155px;
}

.Register-div {
	position: absolute;
	left: 3.97%;
	right: 75.47%;
	top: 25.3%;
	bottom: 50.68%;
	opacity: 1;
}

.Register-p {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 3%;
	padding-top: 3%;
}
